/*
 Четыре размера:
 1) 0-640 - 320,
 2) 641-960 - 768
 3) 961-1920 - desktop
 4) > 1920 - фиксация ширины 1920 и центрирование

 Будем пробовать mobile first
*/


/* Main styles and mobile */

@font-face {
    font-family: Open-sans;
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/OpenSans-Regular.woff");
}

@font-face {
    font-family: Open-sans;
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/OpenSans-Bold.woff");
}

html {
    font-size: 62.5%;
}

body {
    font-family: Open-sans, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
}

h1, h2, h3, .app-button-line-2 {
    text-transform: uppercase;
    font-weight: bold;
}

h1 {
    color: #ffffff;
    font-size: 9vw;
    width: 100%;
}

h2 {
    color: #e7e7e7;
}

h3 {
    color: #c1c1c1;
}

h2 {
    font-size: 5rem;
    margin: 0 20px;
}

h3 {
    font-size: 2.3rem;
    margin-bottom: 0;
    margin-top: 0;
}

.wrapper {
    max-width: 1920px;
    min-width: 320px;
    margin: 0 auto;
}

.header, .footer {
    background-color: #0a0e34;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding: 30px 20px 20px 20px;
}


.header::after, .footer::after {
    content: "";
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
    z-index: 1;
}

.header::after {
    background-image: url("../images/football_767.jpg");
}

.footer::after {
    background-image: url("../images/game_767.jpg");
}

.header-wrapper, .footer-wrapper {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.logo {
    width: 132px;
    margin-left: auto;
    margin-right: auto;
}

.slogan-1, .slogan-2 {
    display: block;
}

.slogan-1 {
    margin: 130px 0 0;
    letter-spacing: 1px;
}

.slogan-2 {
    align-self: flex-end;
    letter-spacing: 1px;
    width: 73.4vw;
    margin: 20px 0 200px;
}

.app-button-line-1 {
    text-transform: uppercase;
    margin-top: 0.6rem;
}

.app-button {
    width: 280px;
    height: 3.5rem;
    background-color: #5e42b0;
    border-radius: 3.8rem;
    display: flex;
    margin-bottom: 15px;
    box-sizing: border-box;
    padding-left: 83px;
    font-size: 0.8rem;

}

.app-button-image {
    height: 2.5rem;
    width: 60px;
    fill: #ffffff;
    margin-top: 0.5rem;
}


.athlets, .players {
    position: relative;
}

.list li {
    padding: 6rem 2rem 5rem;
}

.athlets::after, .players::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center 0;
    z-index: 1;
}

.athlets::after {
    background-image: url("../images/footballer_192.png");
}

.athlets::before, .players::before {
    content: "";
    display: block;
    height: 220px;
}

.players::after {
    background-image: url("../images/basketballer_302.png");
}

.list {
    /*margin-top: 220px;*/
    list-style-type: none;
    padding: 0;
}

.athlets p, .players p {
    font-size: 1.5rem;
}

.list h3 .number {
    font-size: 1.4rem;
    color: #000000;
    position: relative;
    top: -.7rem;
    margin-right: 0.5rem;
}

.list .number::after {
    content: "";
    width: 100%;
    display: block;
    background-color: #5e42b0;
    height: 3px;
    position: absolute;
    bottom: -.3rem;
}

.list li:nth-child(1) {
    background-color: #fafafa;
}

.list li:nth-child(2) {
    background-color: #f5f4f9;
}

.athlets-list li:nth-child(3) {
    background-color: #5e42b0;
}

.players-list li:nth-child(3) {
    background-color: #090c35;
}

.list li:nth-child(3) p {
    color: #ffffff;
}

.players-list li:nth-child(3) .number {
    color: #8765dd;
}


.list li:nth-child(3) .number::after {
    background-color: #ffffff;
}

.advantages {
    margin-top: -10px;
}

.footer {
    margin-top: -4px;
}

.advantage-body {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.6rem;
    min-height: 20rem;
}

.advantage-picture, .advantage-picture > img {
    width: 100%;
}

.advantage-number {
    width: 7rem;
    height: 7rem;
    background-color: #5e42b0;
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    padding-top: 2.5rem;
    box-sizing: border-box;
    position: relative;
    top: -5rem;
}

.advantage-number::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 4.3rem;
    left: calc(50% - .75rem);
    height: 3px;
    width: 1.5rem;
    background-color: #8f7bc8;
}

.advantage-header {
    font-size: 2.8rem;
    margin: -40px 0 0 0;
}

.footer .app-buttons {
    margin-top: 70px;
    margin-bottom: 70px;
}

.logo-2 {
    box-sizing: border-box;
    padding: 8px;
    width: 55px;
    height: 55px;
    fill: #ffffff;
    background-color: #5e42b1;
    margin-top: 100px;
    margin-bottom: 55px;

    background-image: -ms-linear-gradient(to bottom, #7656d6 0%, #51379b 100%);
    background-image: -o-linear-gradient(to bottom, #7656d6 0%, #51379b 100%);
    background-image: -webkit-linear-gradient(to bottom, #7656d6 0%, #51379b 100%);
    background-image: linear-gradient(to bottom, #7656d6 0%, #51379b 100%);
    border-radius: 18%;
}

.footer-slogan-1 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 10vw;
    text-align: center;
    font-weight: bold;
}

.footer-slogan-2 {
    color: #9b8ec1;
    text-transform: uppercase;
    font-size: 4vw;
    text-align: center;
}

.footer-group {
    text-align: center;
}

/* Adapt 641px - 960px */
@media (min-width: 641px) {
    .athlets::before, .players::before {
        display: none;
    }


    .header {
        width: 100%;
        padding: 40px 50px;
    }

    .header::after {
        background-image: url("../images/football_1280.jpg");
    }

    .footer::after {
        background-image: url("../images/game_1280.jpg");
    }

    .logo {
        width: 200px;
    }

    .app-buttons {
        max-width: 655px;
        width: 100%;
        display: flex;
    }

    .app-button {
        margin: 15px;
        width: 308px;
        height: 7.7rem;
        font-size: 1.4rem;
        padding-left: 38px;
    }

    .app-button-image {
        height: 5rem;
        margin: 1.2rem;
    }

    .app-button-line-1 {
        margin-top: 1.7rem;
    }

    .footer-slogan-1 {
        font-size: 5.5rem;
    }

    .athlets h2 {
        font-size: 6rem;
        padding-left: 30rem;
        padding-top: 9rem;
    }

    .players h2 {
        font-size: 6rem;
        padding: 9rem calc(50% + 48px) 0 15rem;
    }

    .athlets::after {
        background-image: url("../images/footballer_497.png");
        background-position: -150px 0;
        height: 699px;
        width: 497px;
    }

    .players::after {
        background-image: url("../images/basketballer_436.png");
        background-position-y: 60px;
        right: 0;
        height: 600px;
        width: 436px;
    }

    .list {
        margin-top: 0;
    }

    .athletes-header {
        padding-left: 28rem;
    }

    .athlets-list li {
        padding: 3.5rem 4.5rem 5rem 30rem;
    }

    .players-list li {
        padding: 3.5rem 50% 5rem 3rem;
    }

    .list li:nth-child(1) {
        background-color: #ffffff;
    }

    .list li:nth-child(2) {
        background-color: #f4f3f8;
    }

    .athlets p, .players p {
        line-height: 2rem;
    }

    .advantage-body {
        padding-left: 35px;
        padding-right: 35px;
        font-size: 1.8rem;
        min-height: 32rem;

    }

    .advantage-number {
        width: 11.5rem;
        height: 11.5rem;
        font-size: 2rem;
        padding-top: 4.5rem;
        top: -9rem;
    }

    .advantage-number::after {
        top: 7rem;
        left: calc(50% - 1rem);
        width: 2rem;
    }

    .advantage-header {
        font-size: 6rem;
        margin: -8rem 0 0 0;
        padding: 0;
    }

    .footer-slogan-2 {
        font-size: 2.4rem;
    }

    .logo-2 {
        width: 100px;
        height: 100px;
        padding: 11px;
    }
}

/* Adapt 960px - inf */
@media (min-width: 961px) {
    h1 {
        font-size: 9rem;
    }

    .header::after {
        background-image: url("../images/football_1920.jpg");
    }

    .footer::after {
        background-image: url("../images/game_1920.jpg");
    }

    .slogan-2 {
        text-align: right;
        width: 100%;
    }

    h3 {
        font-size: 3.6rem;
    }

    h2 {
        font-size: 8rem;
        padding-top: 9rem;
        padding-left: 16rem;
    }

    .athletes-header {
        padding-left: calc(50% + 30px);
    }

    .athlets::after {
        height: 920px;
        width: 566px;
        background-image: url("../images/footballer_566.png");
        background-position: 0 0;
        top: -15rem;
        right: 50%;
    }

    .players::after {
        height: 825px;
        width: 55%;
        background-image: url("../images/basketballer_991.png");
        top: -20rem;
        left: 45%;
        background-position: 0 0;
    }

    .list {
        margin-top: 0;
    }

    .athlets-list li {
        padding: 3.5rem 18rem 4rem calc(50% + 48px);
    }

    .players-list li {
        padding: 3.5rem calc(50% + 48px) 4rem 18rem;
    }

    .athlets p, .players p {
        font-size: 2rem;
        line-height: 2.8rem;
    }

    .advantage {
        position: relative;
        display: flex;
    }

    .advantage:nth-child(2n) {
        flex-direction: row-reverse;
    }

    .advantage-picture, .advantage-body {
        width: 50%;
    }

    .advantage-body {
        padding: 5% 5% 0 110px;
        font-size: 1.25vw;
        box-sizing: border-box;
    }

    .advantage-number {
        position: absolute;
        height: 8.9vw;
        width: 8.9vw;
        font-size: 1.25vw;
        left: calc(50% - 8.9vw / 2);
        top: calc(50% - 8.9vw / 2);
        padding-top: calc(8.9vw / 2 - 1.25vw / 2);
    }

    .advantage-number::after {
        top: calc(8.9vw / 2 + 1.25vw / 2 + 3px);
        left: calc(50% - 1.5vw / 2);
        width: 1.5vw;
    }

    .advantage-header {
        font-size: 4.2vw;
        margin-top: 8vw;
        padding: 0;
    }

    .list h3 .number {
        font-size: 1.8rem;
        margin-right: 0.7rem;
        top: -1.2rem;
    }

    .footer-slogan {
        width: 670px;
    }

    .footer-slogan-1 {
        font-size: 8rem;
    }

    .footer-slogan-2 {
        font-size: 3rem;
    }

    .footer-group {
        display: flex;
        align-items: flex-start;
        margin-top: 200px;
    }

    .logo-2 {
        align-self: center;
        height: 133px;
        width: 133px;
        margin-top: 10px;
        margin-right: 30px;
        padding: 16px;
    }
}

/* Fix 1920+ */
@media (min-width: 1921px) {

    .advantage-body {
        font-size: 2.4rem;
    }

    .advantage-number {
        height: 170px;
        width: 170px;
        font-size: 2.4rem;
        left: calc(50% - 170px / 2);
        top: calc(50% - 170px / 2);
        padding-top: calc(170px / 2 - 1.2rem);
    }

    .advantage-number::after {
        top: calc(170px / 2 + 2.4rem / 2 + 3px);
        left: calc(50% - 2.4rem / 2);
        width: 2.4rem;
    }

    .advantage-header {
        font-size: 8rem;
        margin-top: 150px;
    }
}
